<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store.mapper.ReportBetMapper">

	<resultMap type="Report" id="ReportMap">
		<result property="target" column="reportbetId" />
		<result property="reason" column="reportContent" />
		<result property="reportDate" column="reportBetDate"/>
	</resultMap>
	<insert id="create" parameterType="Report">
		<selectKey keyProperty="reportId" resultType="String" order="BEFORE">
			SELECT reportbet_seq.nextval FROM dual
		</selectKey>
		INSERT INTO reportBet_tb(reportId, userId, reportbetId, reportContent, reportDate)
		values(#{reportId}, #{userId}, #{target}, #{reason}, SYSDATE)
	</insert>
	
	<select id="searchByAllBetReport" resultType="Report" resultMap="ReportMap">
	SELECT reportId, userId, reportbetId, reportContent, reportDate FROM reportBet_tb
	</select>
	
	<delete id="delete" parameterType="String">
	DELETE from reportBet_tb WHERE reportId = #{reportId}
	</delete>
	
	<delete id="deleteAllByTarget" parameterType="String">
	DELETE from reportBet_tb WHERE reportbetId = #{target}
	</delete>


</mapper>